<%- include("header") %>
<body> 
    <form action="/" method="post" class="InputForm"> 
        <input placeholder="Please enter the project name" name="name" type="text"></input>
        <button type="submit">Press here to submit</button>
    </form>
</body>
